name: Build releases

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add Windows target
        run: rustup target add x86_64-pc-windows-gnu

      - name: Install cross-compilation tools
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64

      - name: Install Linux graphics libraries
        run: |
          sudo apt-get install -y \
            libwayland-dev \
            libxkbcommon-dev \
            libegl1-mesa-dev \
            libx11-dev \
            pkg-config

      # Build Linux binary
      - name: Linux build
        run: cargo build --release
        
      # Make Linux binary executable
      - name: Make Linux binary executable
        run: chmod +x target/release/redriddles

      # Build Windows binary
      - name: Windows build
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: |
            target/release/redriddles
            target/x86_64-pc-windows-gnu/release/redriddles.exe

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/release/redriddles
            target/x86_64-pc-windows-gnu/release/redriddles.exe